
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<form method="post">
    <div class="schedule_add_item">
        <label>
            Номер аудитории
        </label>
        <input type="text" placeholder=" Г-511" id="Name" class="rounded-pill" />
    </div>
    <div class="schedule_add_item">
        <label>
            Размер аудитории
        </label>
        <input type="text" placeholder=" 25" id="Size" class=" rounded-pill" />
    </div>
    <div class="schedule_add_item">
        <label>
            Расположение аудитории
        </label>
        <input type="text" placeholder=" Университетская 33" id="Building" class=" rounded-pill" />
    </div>
    <button type="submit" class="btn btn-primary" style="float:right">Сохранить</button>
</form>