
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<!--
     [Key][Required] public int Id { get; set; }
        [Required] public string Name { get; set; }
        [Required] public int Size { get; set; }
        [Required] public string Building { get; set; }
-->

<form>
    <div>
        <label>
            Номер аудитории
        </label>
        <input type="text" placeholder="Г-511" id="Name" />
    </div>
    <div>
        <label>
            Размер аудитории
        </label>
        <input type="text" placeholder="25" id="Size" />
    </div>
    <div>
        <label>
            Расположение аудитории
        </label>
        <input type="text" placeholder="Университетская 33" id="Building" />
    </div>
</form>