
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<form>
    <div>
        <label>
            Код группы
        </label>
        <input type="text" placeholder="ИС/б-20-1-о" id="groupID" />
    </div>
    <div>
        <label>
            Количество студентов
        </label>
        <input type="text" placeholder="25" id="groupCount" />
    </div>
    <div>
        <label>
            Институт
        </label>
        <input type="text" placeholder="ИИТ" id="groupInstitute" />
    </div>
    <div>
        <label>
            Курс группы
        </label>
        <input type="text" placeholder="2" id="groupCourse" />
    </div>
    <div>
        <label>
            Уровень высшего образования группы
        </label>
        <input type="text" placeholder="Бакалавриат" id="groupGrade" />
    </div>
    <div>
        <label>
            Форма обучения группы
        </label>
        <input type="text" placeholder="Очная" id="groupForm" />
    </div>
</form>