
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<form>
    <div>
        <label>
            Название дисциплины
        </label>
        <input type="text" placeholder="Название дисциплины" id="title"/>
    </div>
    <div>
        <label>
            Ф.И.О. преподавателя
        </label>
        <input type="text" placeholder="Иванов Иван Иванович" id="SNP"/>
    </div>
    <div>
        <label>
            Количество часов
        </label>
        <input type="text" placeholder="54" id="hours"/>
    </div>
</form>