
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<form method="post">
    <div class="schedule_add_item">
        <label>
            Название дисциплины
        </label>
        <input type="text" placeholder=" Название дисциплины" id="title" class="rounded-pill" />
    </div>
    <div class="schedule_add_item">
        <label>
            Ф.И.О. преподавателя
        </label>
        <input type="text" placeholder=" Иванов Иван Иванович" id="SNP" class="rounded-pill" />
    </div>
    <div class="schedule_add_item">
        <label>
            Количество часов
        </label>
        <input type="text" placeholder=" 54" id="hours" class="rounded-pill" />
    </div>
    <button type="submit" class="btn btn-primary" style="float:right">Сохранить</button>
</form>