
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<form>
    <div>
        <label>
            Ф.И.О. преподавателя
        </label>
        <input type="text" placeholder="Иванов Иван Иванович" id="SNP" />
    </div>
    <div>
        <label>
            Должность преподавателя
        </label>
        <input type="text" placeholder="Старший преподаватель" id="Post" />
    </div>
</form>