.Schedule_table{
    border: solid;
    border-color: black;
}

.day, .classes{
    margin: 1vh;
    padding: 1vh;
    display:none;
}


@media only screen and (min-width: 768px) {
    .halfWeek {
        display: flex;
    }
}