@{
    ViewData["Title"] = "Поиск";
}

<form method="get">
   <div>
        <label for="SearchInput">
            Поиск
        </label>
        <input type="text" id="SearchInput" class="rounded-pill" />
   </div>
   <div id="SearchResult">

   </div>
</form>